@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.relative.z-20,
.absolute.z-10 {
  display: none;
}

.color-blue {
  color: #1570ef;
}

.color-gray {
  color: #334d6e;
}

.color-dark-gray {
  color: #56657f;
}

.background-dark {
  background-color: #2b3648;
}

.components-background-dark {
  background-color: #212936;
}
